* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline;
  font-size: 0;
}

 div .container-body {
   width: 1000px;

 }

a {
  text-decoration: none;
  color: fff;
}

body {
  font-family: "Libre Franklin";
}

div * {
  padding: 0;
  margin: 0;
}

div columns-container {
  width: 100%;
}

/************************
Navigation
*************************/


.navbar {
    background-color: #f55e05;
    display: inline-block;
    height: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-items ul {
    position: absolute;
    top: 30px;
    right: -650px;
    width: 80%;
    display: inline-block;
}
.menu-items li {
    display: inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    margin-left: 25px;
    border: 1px solid #fff;
}
.menu-items a:visited {
    color: #fff;
}
.menu-items a:hover {
    color: #B0E6E2;
}
.logo {
  position: relative;
  top: 10px;
  left: 10px;
  width: 25%;
}
/************************
banner with search box
*************************/
.image-banner {
  background-image: url("/Users/nicole.streetman/TIY/assignments/assignment-04/images/hero-splash-roommates-fun.jpg");
  background-size: cover;
  padding: 200px 0;
}

.image-banner  p {
  text-align: center;
}

.image-banner #heading {
   color: #fff;
   font-size: 3em;
   padding-top: 20px;
}

.image-banner #sub-heading {
   color: #fff;
   font-size: 1.25em;
}

form {
  width: 500px;
  position: relative;
  margin: auto;
  padding-top: 20px;
}

.search {
  padding: 15px 100px;
  background: #FFF;
  border: 0px solid #FFF;
}
.button {
  position: relative;
  padding: 15px 15px;
  left: -8px;
  border: 0px solid #00a86b;
  background-color: #00a86b;
  color: #fafafa;
}

.button:hover  {
  background-color: #fafafa;
  color: #207cca;
}
/*******************************
city picture carousel
********************************/
 div #city-pics {
  display: inline-block;;
  width: 80%;
  margin: 0;
  font-size: 0px;
}
img .city-pictures {
   display: inline;
   max-width: 20%;
   padding: 0;
   margin: 0:
 }

 /*******************************
 featured-properties
 ********************************/
div .featured-properties {
      padding: 50px;
      background-color: #d9d8ce;
}

/*******************************
Footer
********************************/

div .columns-container-footer {
  background-color: #2c2416;
  display: inline-block;
  width: 100%;

}

.columns-container-footer li{
  list-style: none;

}
